*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.ip-con{
    border:1px solid;
    display:flex;
    justify-content: center;
    padding:10px 0px;
    
}
.ip-content{
    border:1px solid;
    width:95%;
    text-align: left;
}

.container-info{
    border:1px solid;
    display:flex;
    justify-content: center;
    padding:10px 0px;

}
.content{
    border:1px solid;
    width:95%;
    padding:20px 0px;

    display:flex;
    justify-content: space-between;

}
.left,.right,.center{
    border:1px solid;
}

.map-con{
    border:1px solid;
    display:flex;
    justify-content: center; 

}
.map-desp{
    border:1px solid;
    width:95%;
    height:400px;
}
.map-title{
    text-align: center;;
}
.map-cont{
    border:1px solid blue;
    width:100%;
    height:350px;
}
.map-frame{
    height:100%;
    width:100%;
    border:none;
}

.more-info-con{
    border:1px solid;
    display:flex;
    justify-content: center; 
}
.more-con{
    border:1px solid;
    width:95%;
}
.more-title{
    text-align: center;
}
.post-con-main{
    border:1px solid;
    display:flex;
    justify-content: center; 
}

.con{
    border:1px solid;
    width:95%; 
}
.post-title{
    text-align: center;
}
.inp{
    width:100%;
}
.card{
    border:1px solid;
}
.item{
    padding: 10px 4px;
}

.posts-box
{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap:20px;
}