*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins";
}
body{
    background-color: rgb(20, 20, 20);
    color:rgb(210, 216, 221);
    height:100vh;
}



.ip-con{
    
    display:flex;
    justify-content: center;
    padding:10px 0px;
    
}
.ip-content{
   
    width:95%;
    text-align: left;
}

.container-info{
    
    display:flex;
    justify-content: center;
    padding:10px 0px;

}
.content{
    
    width:95%;
    padding:20px 0px;

    display:flex;
    justify-content: space-between;

}


.map-con{
    
    display:flex;
    justify-content: center; 
    background-color: #575A85;
    padding:30px 0px;

}
.map-desp{
   
    width:95%;
    min-height:400px;
}
.map-title{
    text-align: center;
    padding:8px 0px;
}
.map-cont{
    
    width:100%;
    height:350px;
}
.map-frame{
    height:100%;
    width:100%;
    border:none;
}
.map-title, .more-title,.post-title{
    font-size: 23px;
}
.more-info-con{
   
    display:flex;
    justify-content: center; 
}
.more-info{
    padding:4px 0px;
}
.more-con{
    
    width:95%;
}
.more-title{
    text-align: center;
    padding:8px 0px;
}
.post-con-main{
   
    display:flex;
    justify-content: center; 
}

.con{
    
    width:95%; 
}
.post-title{
    text-align: center;
}
.inp{
    width:100%;
}
.card{
   
    padding:5px 10px;
    background-color: #6e719c;
    border-radius: 10px;
}
.item{
    padding: 10px 4px;
}

.posts-box
{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap:20px;
}
.inp{
    
    height:40px;
}
.inp-con{
    margin: 25px 0px;
}

.disp{
    display:none;
}

.main-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}
#fetch-btn{
    padding:30px 90px;
    font-size: 30px;
    transition: all 0.16s;
    border:none;
    border-radius: 10px;
}
#fetch-btn:hover{
    background-color: #565a90;
    opacity: 0.7;
}